
  .PersonalInfoInputWidget{
      background-color: #555;
      color: #eee;
      border: 1px inset #666;
      padding: 20px;
      margin: 5px 5px;
      display: flex;
      flex-grow: 1;
      flex-direction: row;
      flex-wrap: wrap;
      width: 300px;
  }
      
  .PersonalInfoInputWidget input{
    height: 16px;
  font-size: 16px;
  background-color: #eee;
  border: 0;
  float: right;
  width: calc(97%);
  outline: none;
  margin: 2px;
}