:root {
  background-color: #333333;
  width: 100vw;
  height: 94vh;
}
/************************

  Main App 

*************************/
.app {
  height: 94vh;
  width: 100%;
  display: block;
}

/************************

  Navigation Bar 

*************************/
.NavigationBar {
  margin: 0 0 10px;
  width: calc(100%-20px);
}
.NavigationBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111;
}

.NavigationBar li {
  float: right;
}

.NavigationBar li a {
  display: block;
  height: 100%;
  color: white;
  background-color: transparent;
  border: none;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 0.5em;
}
.NavigationBar li a:hover {
  background-color: #444;
}

/************************

  Mortgage Calculator

*************************/
.MortgageCalc {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  font-size: 9px;
}
/* Basic Input Widget */
.MortgageCalc .BasicInputWidget {
  background-color: #555;
  color: #eee;
  border: 1px inset #666;
  padding: 20px;
  margin: 5px 5px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100px;
}
.MortgageCalc .BasicInputWidget .basic-input-input {
  height: 12px;
  border: 1px solid #eee;
  color: #111;
  background-color: #eee;
  margin: 0 0 10px;
}
.MortgageCalc .BasicInputWidget .basic-input-input input {
  height: 10px;
  background-color: #eee;
  border: 0;
  float: right;
  width: calc(97%);
  outline: none;
}
.MortgageCalc .BasicInputWidget .basic-input-input .mortgage-amount-input {
  width: calc(99% - 10px);
}
/*Basic Output Widget */
.MortgageCalc .BasicOutputWidget {
  background-color: #555;
  color: #eee;
  border: 1px inset #666;
  padding: 20px;
  margin: 5px 5px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100px;
}
.MortgageCalc .BasicOutputWidget .basic-output-input {
  height: 12px;
  border: 1px solid #ccc;
  color: #111;
  background-color: #ccc;
  margin: 0 0 10px;
}
.MortgageCalc .BasicOutputWidget .basic-output-input input {
  height: 10px;
  background-color: #ccc;
  border: 0;
  float: right;
  width: calc(98%);
  outline: none;
}
.MortgageCalc .BasicOutputWidget .basic-output-input .mortgage-amount-output {
  width: calc(99% - 10px);
}

/*PITI Estimator Widget */
.MortgageCalc .PITIEstimatorWidget {
  background-color: #555;
  color: #eee;
  border: 1px inset #666;
  padding: 20px;
  margin: 5px 5px;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  flex-wrap: wrap;
  width: 300px;
}
.MortgageCalc .PITIEstimatorWidget .InformationDiv {
  background-color: #555;
  color: #eee;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 130px;
}

.MortgageCalc .PITIEstimatorWidget .InformationDiv .piti-input {
  height: 12px;
  border: 1px solid #eee;
  color: #111;
  background-color: #eee;
  margin: 0 0 10px;
}
.MortgageCalc .PITIEstimatorWidget .InformationDiv .piti-input input {
  height: 10px;
  background-color: #eee;
  border: 0;
  float: right;
  width: calc(97%);
  outline: none;
}
.MortgageCalc .PITIEstimatorWidget .InformationDiv .piti-input .piti-amount-input{
  width: calc(99% - 10px);
}
.MortgageCalc .PITIEstimatorWidget .InformationDiv .piti-output {
  height: 12px;
  border: 1px solid #ccc;
  color: #111;
  background-color: #ccc;
  margin: 0 0 10px;
}
.MortgageCalc .PITIEstimatorWidget .InformationDiv .piti-output input {
  height: 10px;
  background-color: #ccc;
  border: 0;
  float: right;
  width: calc(97%);
  outline: none;
}
.MortgageCalc .PITIEstimatorWidget .InformationDiv .piti-output .piti-amount-output{
  width: calc(99% - 10px);
}
.MortgageCalc .PITIEstimatorWidget .chart-div {
  position: relative;
  background-color: #555;
  color: #eee;
  margin: 10px;
  flex-grow: 3;
  width: 170px;
  height: 110px;
}