.PITIEstimatorWidget {
  background-color: #555;
  color: #eee;
  border: 1px inset #666;
  padding: 20px;
  margin: 5px 5px;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  flex-wrap: wrap;
  width: 300px;
  
}
.PITIEstimatorWidget .InformationDiv {
  background-color: #555;
  color: #eee;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 120px;
  font-size: 15px;
}

.PITIEstimatorWidget .InformationDiv .piti-input {
  height: 20px;
  font-size: 14px;
  border: 1px solid #eee;
  color: #111;
  background-color: #eee;
  margin: 0 0 10px;
}
.PITIEstimatorWidget .InformationDiv .piti-input input {
  height: 16px;
  font-size: 16px;
  background-color: #eee;
  border: 0;
  float: right;
  width: calc(97%);
  outline: none;
  margin: 2px;
}
.PITIEstimatorWidget .InformationDiv .piti-input .piti-amount-input{
  width: calc(99% - 15px);
}
.PITIEstimatorWidget .InformationDiv .piti-output {
  height: 20px;
  font-size: 14px;
  border: 1px solid #bbb;
  color: #111;
  background-color: #bbb;
  margin: 0 0 10px;
}
.PITIEstimatorWidget .InformationDiv .piti-output input {
  height: 16px;
  font-size: 16px;
  background-color: #bbb;
  border: 0;
  float: right;
  width: calc(97%);
  outline: none;
  margin: 2px;
}
.PITIEstimatorWidget .InformationDiv .piti-output .piti-amount-output{
  width: calc(99% - 15px);
}
.PITIEstimatorWidget .chart-div {
  position: relative;
  background-color: #555;
  color: #eee;
  margin: 10px;
  flex-grow: 2;
  width: 160px;
  height: 110px;
}